.footerContainer {
  background: #f7f7f7;
  display: flex;
  justify-content: space-between;
  padding-left: 386px;
  padding-right: 371px;
  height: 100px;
}
.socialIcons {
  display: flex;
  width: 216px;
  height: 28px;
  gap: 40px;
  padding-top: 34px;
}
.footerLogo{
  padding-top: 20px;
}